.p_cs_mlv-id {
	margin-top: .5em;
	overflow: hidden;

	header{
		font-size: 3em;
	}
}

.p_cs_lv-section {
	margin-bottom: .5em;

	ul{
		margin-left: 0;
		padding-left: 0;
		list-style-type: none;
		li{
			margin-bottom: 2em;
			figure{
				max-height: 20em;
				overflow: hidden;
				img{
					max-width: 100%;
				}
			}
		}
	}
}

/* Example media queries */

@media screen and (max-width: 73.5em) {
	.p_cs_lv-id {
		font-size: 100%;
	}
}

@media screen and (max-width: 41.125em) {

}

